:root {
  --purple-main: #735CDD;
  --black-main: #1C1C1C;
  --grey-main: #343434;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 150ms ;
}

button {
  outline: none;
  border: none;


}

button:hover {
  transform: scale(1.01, 1.01);
}

body {
  background-color: var(--black-main);
}

.main-page-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
}

/* login box */

.login-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 56vh;
  height:50%;
  background-color: var(--grey-main);
}

@media only screen and (max-width:768px) {
  .login-wrapper {
    width: 46vh;
    height: 55%
  }
}


.login-btn-wrapper {
  height: 35%;
  width: 44%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-btn-wrapper a button {
  width: 100%;
  border-radius: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color:white;
}

.login-btn-wrapper a {
  text-decoration: none;
  height:45%;
  width:100%;
  display:flex;
}

.login-btn-wrapper a button:hover{
  transform: scale(1.01, 1.02);
}

#btn-sign-up {
  background-color: var(--purple-main);
  border: none;
  outline:none;
}

#btn-sign-up:active {
  background-color: #7c66dd;
}

#btn-login {
  background-color: transparent;
  border: 2px solid white;
}

#btn-login:active {
  background-color: #3f3f3f;
}

/* end of login */

/* login page */


.login-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  height: 65%;
  width: 80%;
}

.login-input-wrapper > div {
  display:flex;
  flex-direction: column;
}

.login-input-wrapper > div > label {
  color: white;
  font-weight:700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1%
}

.login-input-wrapper > div > input {
  border-radius: 4px;
  height: 6vh;
  padding-left: 0.5rem;
  border: 2px solid white;
  background-color: transparent;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.btn-login-submit {
  background-color: var(--purple-main);
  border-radius: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color:white;
  width: 43%;
  height: 15%;
  border: 0;
  margin-bottom: 1.5rem;  
}
.btn-login-submit:active {
  background-color: #7c66dd;
}


.signup-wrapper {
  /* border: 1px solid white; */
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
}

.signup-wrapper > div {
  width: 100%;
  display:flex;
  flex-direction: column;
}

.signup-wrapper > div > input {
  border-radius: 4px;
  height: 6vh;
  padding-left: 0.5rem;
  border: 2px solid white;
  background-color: transparent;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1rem;

}
.signup-wrapper > div > label {
  color: white;
  font-weight:700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1%

}

.btn-signup-submit {
  background-color: var(--purple-main);
  border-radius: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color:white;
  width: 30%;
  height: 10%;
  border: 0;
  margin-bottom: 0.5rem;  
  margin-top: 0.35rem;  
}

.btn-signup-submit:active {
  background-color: #7c66dd;
}

